[SddmGreeterTheme]
Name=Nothing
Description=Nothing OS style greeter mirroring the hyprlock screen
Author=Uzayr Iqbal Hamid
License=MIT
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=nothing
Theme-API=2.0
QtVersion=6
